<div class="container">
  <div class="row">
    <div class="col-md-9 align-self-center">
      <div *ngIf="editTestimonialState">
        <h3>Edit Testimonial:</h3>
        <form (ngSubmit)="onUpdate()" #f="ngForm">
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" [(ngModel)]="testimonialToEdit.userInfo.userName" required
                   name="testimonialToEdit.userInfo.userName" #editUserName="ngModel">
            <div class="help-text" *ngIf="!editUserName.valid && f.submitted">Please enter user name</div>
          </div>
          <div class="form-group">
            <label>User Company Name</label>
            <input type="text" class="form-control" [(ngModel)]="testimonialToEdit.userInfo.userCompany" required
                   name="testimonialToEdit.userInfo.userCompany" #editUserCompany="ngModel">
            <div class="help-text" *ngIf="!editUserCompany.valid && f.submitted">Please enter user company name!</div>
          </div>
          <div class="form-group">
            <label>User Image</label>
            <!-- <div style="text-align: center;border-radius: 14px;width: 20%;position: relative;border: 1px solid black;"
                 *ngIf="image">
              <img [src]="image ?this.config.serverUrl + image: ''" width="50%" height="50%"/>
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg" style="position: absolute;top:0;right:0"
                 (click)="onRemoved()">
              </i>
            </div> -->
            <div class="imgPreview" *ngIf="image">
              <img [src]="image ?this.config.serverUrl + image: ''"/>
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                 (click)="onRemoved()">
              </i>
            </div>
            <div>
              <dropzone [style.display]="!image ? 'block' : 'none'" [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                        (error)="onImageUploadError($event)" (removedFile)="onRemoved($event)"
                        (success)="onImageUploadSuccess($event)" id="featureImage" name="featureImage"></dropzone>
            </div>
          </div>
          <div class="form-group">
            <label>Main Text</label>
            <input type="text" class="form-control" [(ngModel)]="testimonialToEdit.mainText" required
                   name="testimonialToEdit.mainText" #editMainText="ngModel">
            <div class="help-text" *ngIf="!editMainText.valid && f.submitted">Please enter main text!</div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Update Testimonial</button>
          </div>
        </form>
      </div>
      <div *ngIf="addTestimonialState">
        <form (ngSubmit)="onCreate()" #f="ngForm">
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" required #userName="ngModel"
                   name="userName" ngModel>
            <div class="help-text" *ngIf="!userName.valid && f.submitted">Please Enter Valid User Name!</div>
          </div>
          <div class="form-group">
            <label>User Company Name</label>
            <input type="text" class="form-control" ngModel required #userCompany="ngModel"
                   name="userCompany">
            <div class="help-text" *ngIf="!userCompany.valid && f.submitted">Please Enter Valid User Company!</div>
          </div>
          <div class="form-group">
            <label>User Image</label>
            <dropzone [style.display]="!image ? 'block' : 'none'" [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                      (error)="onImageUploadError($event)" (removedFile)="onRemoved($event)"
                      (success)="onImageUploadSuccess($event)" id="featureImage" name="featureImage"></dropzone>
            <!-- <div style="text-align: center;border-radius: 14px;width: 20%;position: relative;border: 1px solid black;"
                 *ngIf="image">
              <img [src]="this.config.serverUrl + image" width="50%" height="50%"/>
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg" style="position: absolute;top:0;right:0"
                 (click)="onRemoved()">
              </i>
            </div> -->
            <div class="imgPreview" *ngIf="image">
              <img [src]="this.config.serverUrl + image"/>
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                 (click)="onRemoved()">
              </i>
            </div>
          </div>
          <div class="form-group">
            <label>Main Text</label>
            <input type="text" class="form-control" ngModel required #mainText="ngModel"
                   name="mainText">
            <div class="help-text" *ngIf="!mainText.valid && f.submitted">Please Enter text!</div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Add New Testimonial</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
