
.card.card-table{
    margin-top: 20px;
}

h1.mainHeading{
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin: 50px 0;
}
.noUserImage {
  width: 130px;
  background: #e1e1e1;
  margin: 0 auto;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 100%;
  i {
    font-size: 80px;
  }
}

.paginationDiv {
  text-align: right;
  margin-top: 15px;
  font-weight: bold;
}

