<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>List of Testimonials
        <button class="btn btn-primary" (click)="addTestimonialState=true;editTestimonialState=false">Add New
          Testimonial
        </button>
      </h3>
      <div class="list-group" *ngFor="let testimonial of testimonials">
        <div class="card" style="width: 20rem;text-align: center">
          <div style="position: absolute;right: 0;top: 5px;">
            <button class="btn btn-sm btn-primary" (click)="editTestimonial(testimonial)">Edit</button>
            <button class="btn btn-sm btn-primary" (click)="deleteTestimonial(testimonial)">Delete</button>
          </div>
          <img class="card-img-top"
               [src]="testimonial.userInfo ? this.config.serverUrl+testimonial.userInfo.userImg: ''"
               alt="Card image cap"
               style="width: 25%; height: 25%;margin: auto">
          <div class="card-body">
            <p class="card-header">{{testimonial.userInfo.userName}}</p>
            <p class="card-text">{{testimonial.mainText}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="editTestimonialState">
        <h3>Edit Testimonial:</h3>
        <form (ngSubmit)="onUpdate()" #f="ngForm">
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" [(ngModel)]="testimonialToEdit.userInfo.userName"
                   name="testimonialToEdit.userInfo.userName">
          </div>
          <div class="form-group">
            <label>User Company Name</label>
            <input type="text" class="form-control" [(ngModel)]="testimonialToEdit.userInfo.userCompany"
                   name="testimonialToEdit.userInfo.userCompany">
          </div>
          <div class="form-group">
            <label>User Image</label>
            <img [src]="testimonialToEdit.userInfo ? this.config.serverUrl + testimonialToEdit.userInfo.userImg: ''">
          </div>
          <div class="form-group">
            <label>Replace Group Image</label>
            <dropzone [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                      (error)="onImageUploadError($event)" (removedFile)="onRemoved($event)"
                      (success)="onImageUploadSuccess($event)" id="featureImage" name="featureImage"></dropzone>
          </div>
          <div class="form-group">
            <label>Main Text</label>
            <input type="text" class="form-control" [(ngModel)]="testimonialToEdit.mainText"
                   name="testimonialToEdit.mainText">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Update Testimonial</button>
          </div>
        </form>
      </div>
      <div *ngIf="addTestimonialState">
        <form (ngSubmit)="onCreate()" #f="ngForm">
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control"
                   name="userName" ngModel>
          </div>
          <div class="form-group">
            <label>User Company Name</label>
            <input type="text" class="form-control" ngModel
                   name="userCompany">
          </div>
          <div class="form-group">
            <label>User Image</label>
            <dropzone [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                      (error)="onImageUploadError($event)" (removedFile)="onRemoved($event)"
                      (success)="onImageUploadSuccess($event)" id="featureImage" name="featureImage"></dropzone>
          </div>
          <div class="form-group">
            <label>Main Text</label>
            <input type="text" class="form-control" ngModel
                   name="mainText">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Add New Testimonial</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
