<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="pb-icon">
            <a href="https://www.pitneybowes.com/in">
              <img src="assets/images/pb_logo.png" alt="">
            </a>
          </div>
          <p>&copy; Copyright Pitney Bowes 2018, All rights reserved.</p>
        </div>
        <div class="col-md-4">
          <div class="platforms">
            <ul>
              <li>
                <a href="https://www.facebook.com/PitneyBowes" target="_blank">
                  <img src="assets/images/1-FB.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://twitter.com/pitneybowes" target="_blank">
                  <img src="assets/images/3-Twitter.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/pitney-bowes" target="_blank">
                  <img src="assets/images/4-Linkdin.png" alt="">
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/user/PitneyBowesInc" target="_blank">
                  <img src="assets/images/youtube.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>