footer{
	background:#000;
	.pb-icon{
		width: 140px;
    	margin-top: 50px;
    	margin-bottom: 10px;
		img{
			width:100%;
		}
	}
	p{
		color:#9b9b9b;
		font-size:14px;
	}
	.platforms ul{
		padding: 0;
    	list-style: none;
    	display: flex;
    	float:right;
    	li{
    		margin-left:15px;
    		width:40px;
    		img{
    			width:100%;
    		}
    	}
	}
}