<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div *ngIf="addCatState">
        <form (ngSubmit)="onCreate()" #f="ngForm">
          <h1 class="mainHeading">Add New Category</h1>
          <div class="form-group">
            <label>Category Name</label>
            <input type="text" class="form-control" [(ngModel)]="category_name" name="category_name" #catName="ngModel"
                   required>
            <div class="help-text" *ngIf="catName.invalid && f.submitted">
              Please enter category name!
            </div>
          </div>
          <div class="form-group">
            <label>Short Description</label>
            <input type="text" class="form-control" ngModel name="shortDesc" required
                   #shortDesc="ngModel">
            <div class="help-text" *ngIf="!shortDesc.valid  && f.submitted">Please Enter Valid short Description!</div>
          </div>
          <div class="form-group">
            <label>Heading</label>
            <input type="text" class="form-control" ngModel name="heading" required
                   #heading="ngModel">
            <div class="help-text" *ngIf="!heading.valid  && f.submitted">Please Enter Valid heading!</div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" ngModel #desc="ngModel" required
                   name="desc">
            <div class="help-text"
                 *ngIf="desc.invalid && f.submitted">
              Please enter category description!
            </div>
          </div>
          <div class="form-group">
            <label>Category Icon Image</label>
            <dropzone [style.display]="!image ? 'block' : 'none'" [config]="imageUploadConfig" [message]="'Click or drag images here to upload <br>( Image size should be 120 x 120 pixels )'"
                      (error)="onImageUploadError($event)" (removedFile)="onRemoved($event)"
                      (success)="onImageUploadSuccess($event)" id="featureImage" name="featureImage"></dropzone>
            <div class="help-text" *ngIf="!image && f.submitted">Please upload icon image</div>
            <div class="imgPreview" *ngIf="image" style="height: 80px;margin-top: 20px;">
              <img [src]="this.config.serverUrl + image"  />
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                 (click)="onRemoved()">
              </i>
            </div>
          </div>
          <div class="form-group">
            <label>Alternative Image</label>
            <dropzone [style.display]="!alternativeImage ? 'block' : 'none'" [config]="imageUploadConfig" [message]="'Click or drag images here to upload <br>( Image size should be 120 x 120 pixels )'"
                      (error)="onAltrImageUploadError($event)" (success)="onAltrImageUploadSuccess($event)"
            ></dropzone>
            <div class="help-text" *ngIf="!alternativeImage && f.submitted ">Please Upload Alternative Image!</div>
            
            <div class="imgPreview" *ngIf="alternativeImage" style="height: 80px;margin-top: 20px;">
              <img [src]="this.config.serverUrl + alternativeImage"  />
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                 (click)="onAltrImageRemoved()">
              </i>
            </div>
          </div>
          <div class="form-group">
            <label>Category Cover Image</label>
            <dropzone [style.display]="!coverImage ? 'block' : 'none'" [config]="imageUploadConfig" [message]="'Click or drag images here to upload <br>( Image size should be 807 x 415 pixels )'"
                      (error)="onCoverImageUploadError($event)" (success)="onCoverImageUploadSuccess($event)"
                      id="featureImage"
                      name="featureImage"></dropzone>
            <div class="help-text" *ngIf="!coverImage && f.submitted">Please Upload Cover Image!</div>
            <div class="imgPreview" *ngIf="coverImage" style="margin-top: 20px;">
              <img [src]="this.config.serverUrl + coverImage"  />
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                 (click)="onCoverImageRemoved()">
              </i>
            </div>
          </div>
          <div class="form-group" style="margin-top: 50px;">
            <button class="btn btn-primary" type="submit">
              Add New Category
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="editCatState">
        <h1 class="mainHeading">Edit Category:</h1>
        <form (ngSubmit)="onUpdate()" #f="ngForm">
          <div class="form-group">
            <label>Category Name</label>
            <input type="text" class="form-control" [(ngModel)]="catToEdit.category_name" required
                   name="catToEdit.category_name" #editName="ngModel">
            <div class="help-text"
                 *ngIf="f.submitted && editName.invalid">
              Please enter category name!
            </div>
          </div>
          <div class="form-group">
            <label>Short Description</label>
            <input type="text" class="form-control" [(ngModel)]="catToEdit.shortDesc" name="shortDesc" required
                   #editShortDesc="ngModel">
            <div class="help-text" *ngIf="!editShortDesc.valid  && f.submitted">Please Enter Valid short Description!
            </div>
          </div>
          <div class="form-group">
            <label>Heading</label>
            <input type="text" class="form-control" [(ngModel)]="catToEdit.heading" name="heading" required
                   #editHeading="ngModel">
            <div class="help-text" *ngIf="!editHeading.valid  && f.submitted">Please Enter Valid heading!</div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" [(ngModel)]="catToEdit.desc" required
                   name="catToEdit.desc" #editDesc="ngModel">
            <div class="help-text"
                 *ngIf="f.submitted && editDesc.invalid">
              Please enter category description!
            </div>
          </div>
          <div class="form-group">
            <label>Category Image</label>
            <dropzone [style.display]="!image ? 'block' : 'none'" [config]="imageUploadConfig" [message]="'Click or drag images here to upload <br>( Image size should be 120 x 120 pixels )'"
                      (error)="onImageUploadError($event)" (success)="onImageUploadSuccess($event)" id="featureImage"
                      name="featureImage"></dropzone>
            <div class="help-text" *ngIf="!image &&  f.submitted ">Please Upload Image!</div>
            <div class="imgPreview" *ngIf="image" style="height: 80px;margin-top: 20px;">
              <img [src]="this.config.serverUrl + image"  />
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                 (click)="onRemoved()">
              </i>
            </div>
          </div>
          <div class="form-group">
            <label>Alternative Image</label>
            <dropzone [style.display]="!alternativeImage ? 'block' : 'none'" [config]="imageUploadConfig" [message]="'Click or drag images here to upload <br>( Image size should be 120 x 120 pixels )'"
                      (error)="onAltrImageUploadError($event)" (success)="onAltrImageUploadSuccess($event)"
            ></dropzone>
            <div class="help-text" *ngIf="!alternativeImage && f.submitted ">Please Upload Alternative Image!</div>
            <div class="imgPreview" *ngIf="alternativeImage" style="height: 80px;margin-top: 20px;background: silver;">
              <img [src]="this.config.serverUrl + alternativeImage"  />
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                 (click)="onAltrImageRemoved()">
              </i>
            </div>
          </div>
          <div class="form-group">
            <label>Category Cover Image</label>
            <dropzone [style.display]="!coverImage ? 'block' : 'none'" [config]="imageUploadConfig" [message]="'Click or drag images here to upload <br>( Image size should be 807 x 415 pixels )'"
                      (error)="onCoverImageUploadError($event)" (success)="onCoverImageUploadSuccess($event)"
                      id="featureImage"
                      name="featureImage"></dropzone>
            <div class="help-text" *ngIf="!coverImage && f.submitted ">Please Upload Cover Image!</div>
            <div class="imgPreview" *ngIf="coverImage" style="margin-top: 20px;">
              <img [src]="this.config.serverUrl + coverImage"  />
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                 (click)="onCoverImageRemoved()">
              </i>
            </div>
          </div>
          <div class="form-group" style="margin-top: 50px;">
            <button class="btn btn-primary" type="submit">
              Update Category
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
