<div class="col-md-6">
  <div *ngIf="editCatState">
    <h3>Edit Category:</h3>
    <form (ngSubmit)="onUpdate()" #f="ngForm">
      <div class="form-group">
        <label>Category Name</label>
        <input type="text" class="form-control" [(ngModel)]="catToEdit.category_name" name="catToEdit.category_name">
      </div>
      <div class="form-group">
        <label>Category Image</label>
        <dropzone [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                  (error)="onImageUploadError($event)" (success)="onImageUploadSuccess($event)" id="featureImage"
                  name="featureImage"></dropzone>
        <div class="help-text" *ngIf="!image">Please Upload Image!</div>
        <div style="position: relative;border: 1px solid black;" *ngIf="image">
          <img [src]="this.config.serverUrl + image" width="50%" height="50%"/>
          <i class="delIcon nc-icon-mini ui-1_circle-remove lg" style="position: absolute;top:0;right:0"
             (click)="onRemoved()">
          </i>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Update Category</button>
      </div>
    </form>
  </div>
  <div *ngIf="addCatState">
    <form (ngSubmit)="onCreate()" #f="ngForm">
      <div class="form-group">
        <label>Category Name</label>
        <input type="text" class="form-control" [(ngModel)]="category_name" name="category_name">
      </div>
      <div class="form-group">
        <label>Category Image</label>
        <dropzone [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                  (error)="onImageUploadError($event)" (removedFile)="onRemoved($event)"
                  (success)="onImageUploadSuccess($event)" id="featureImage" name="featureImage"></dropzone>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add New Category</button>
      </div>
    </form>
  </div>
</div>
