<div class="home" [@fadeInAnimation] id="home">
  <a pageScroll pageScrollSpeed="3000" href="#home" class="return-to-top">
    <i class="nc-icon-mini arrows-3_small-up"></i>
  </a>
  <header>
    <nav class="navbar navbar-expand-lg" [ngClass]="{'fixed-navbar':fixedNavbar}">
      <div class="container">
        <a class="navbar-brand" href="#">
          <div class="pb-logo">
            <img src="assets/images/pb_logo.png" alt="">
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" pageScroll pageScrollSpeed="3000" href="#products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" pageScroll pageScrollSpeed="3000" href="#solutions">Solutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" pageScroll pageScrollSpeed="3000" href="#testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" pageScroll pageScrollSpeed="3000" href="#upcomingFeatures">Upcoming Features</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <div class="carousel-container">
                <owl-carousel #owlInfo [options]="{loop: true,
                    margin: 0,
                    nav: false,
                    dots: false,
                    autoplay: true,
                    autoplayTimeout: 4000,
                    smartSpeed: 1000,
                    mouseDrag: false,
                    touchDrag: false,
                    center: true,
                    items: 1}"
                              [carouselClasses]="['owl-theme', 'row', 'sliding']"
                              [items]="portfolios"
                              *ngIf="portfolios.length > 0">
                  <div class="item" *ngFor="let portfolio of portfolios">
                    <div class="product-info">
                      <h1>{{portfolio.title}}</h1>
                      <p>{{portfolio.desc}}</p>
                      <a [href]="portfolio.detailInfoUrlIfFeaturedProduct" target="_blank" class="white-btn">Learn
                        More...</a>
                    </div>
                  </div>
                  <!--   <div class="item">
                       <div class="product-info">
                         <h1>Location Intelligence for Marketing</h1>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                           labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                           laboris
                           nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                           velit
                           esse cillum dolore eu fugiat nulla pariatur.</p>
                         <a href="" class="white-btn">Learn More...</a>
                       </div>
                     </div>
                     <div class="item">
                       <div class="product-info">
                         <h1>SMB Apps</h1>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                           labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                           laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                           voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                         <a href="" class="white-btn">Learn More...</a>
                       </div>
                     </div>-->
                </owl-carousel>
              </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-4">
              <div class="mobile">
                <div class="innerImage">
                  <owl-carousel #owlMobile [options]="{loop: true,
                      margin: 0,
                      dots: false,
                      autoplay: true,
                      autoplayTimeout: 4000,
                      smartSpeed: 1000,
                      mouseDrag: false,
                      touchDrag: false,
                      center: true,
                      items: 1}"
                                [carouselClasses]="['owl-theme', 'row', 'sliding']">
                    <div class="item">
                      <img src="assets/images/homepage/engageone_video_screenshot.png" alt="">
                    </div>
                    <div class="item">
                      <img src="assets/images/homepage/li4m_screenshot.png" alt="">
                    </div>
                    <div class="item">
                      <img src="assets/images/homepage/smbappsbg.png" alt="">
                    </div>
                  </owl-carousel>
                </div>
              </div>
              <div class="btns">
                <i class="nc-icon-outline arrows-1_minimal-left" (click)="goPrev()"></i>
                <span>/</span>
                <i class="nc-icon-outline arrows-1_minimal-right" (click)="goNext()"></i>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="products">
    <div class="container">
      <div>
        <div class="col-md-12">
          <h1>Products</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.
          </p>
        </div>
      </div>
      <div class="row products">
        <div class="col col-xs-12 productBox" *ngFor="let product of products; let i = index"
             [routerLink]="['/category/' + product.group_name]">
          <div class="hide-on-init animation-delay-{{i+1}}" animateOnScroll animationName="animated fadeInUp">
            <div class="icon">
              <img
                [src]="config.serverUrl + product.img"
                alt="">
            </div>
            <h4>{{product.group_name}}</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="solutions">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">Solutions</h1>
          <p class="hide-on-init animation-delay-1" animateOnScroll animationName="animated fadeInUp">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.
          </p>
        </div>
      </div>
      <div class="row solns">
        <div class="col-md-3" *ngFor="let cat of categories; let i = index">
          <div class="solBox hoverScaleUp hide-on-init animation-delay-{{i+1}}" animateOnScroll
               animationName="animated fadeInUp">
            <div class="icon scaleUpItem">
              <img [src]="config.serverUrl + cat.img" alt="">
            </div>
            <h4>{{cat.category_name}}</h4>
          </div>
        </div>
        <!-- <div class="col-md-3">
           <div class="solBox">
             <div class="icon">
               <img src="assets/images/homepage/bizfunction.png" alt="">
             </div>
             <h4>By Business Function</h4>
           </div>
         </div>
         <div class="col-md-3">
           <div class="solBox">
             <div class="icon">
               <img src="assets/images/homepage/featuredSolution.png" alt="">
             </div>
             <h4>Featured Solutions</h4>
           </div>
         </div>
         <div class="col-md-3">
           <div class="solBox">
             <div class="icon">
               <img src="assets/images/homepage/pblabs.png" alt="">
             </div>
             <h4>PB Labs</h4>
           </div>
         </div>-->
      </div>
      <div class="footerImage hide-on-init" animateOnScroll animationName="animated fadeInUp">
        <div class="img-wrapper">
          <img src="assets/images/homepage/mob_desk_laptop.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section id="upcomingFeatures">
    <div class="container">
      <div class="row">
        <div class="col-md-12 hide-on-init" animateOnScroll animationName="animated fadeInUp">
          <h1>Upcoming Features</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.
          </p>
        </div>
      </div>
      <div class="row features">
        <div class="col-md-3">
          <div class="featureBox hide-on-init animation-delay-1" animateOnScroll animationName="animated fadeInUp">
            <div class="icon">
              <img src="assets/images/homepage/hackathon.png" alt="">
            </div>
            <h4>Hackathons</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featureBox hide-on-init animation-delay-2" animateOnScroll animationName="animated fadeInUp">
            <div class="icon">
              <img src="assets/images/homepage/leadgen.png" alt="">
            </div>
            <h4>Lead Generation</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featureBox hide-on-init animation-delay-3" animateOnScroll animationName="animated fadeInUp">
            <div class="icon">
              <img src="assets/images/homepage/webanalytics.png" alt="">
            </div>
            <h4>Webinar & Live Demos</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featureBox hide-on-init animation-delay-4" animateOnScroll animationName="animated fadeInUp">
            <div class="icon">
              <img src="assets/images/homepage/confwebinar.png" alt="">
            </div>
            <h4>Web Analytics to gather Audience Insights</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="watchVideos" class="hide-on-init" animateOnScroll animationName="animated fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-between align-items-center">
            <h4>View our recently launched hackathons for SMB</h4>
            <a href="" class="white-btn">Watch Video</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center hide-on-init" animateOnScroll animationName="animated slideInUp">Testimonials</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 carousel-section hide-on-init animation-delay-2" animateOnScroll
             animationName="animated fadeInUp">
          <owl-carousel #owlMobile [options]="{loop: true,
                      margin: 0,
                      dots: true,
                      autoplay: true,
                      autoplayTimeout: 4000,
                      smartSpeed: 1000,
                      mouseDrag: true,
                      touchDrag: true,
                      center: true,
                      items: 1}"
                        [carouselClasses]="['owl-theme', 'row', 'sliding']" [items]="testimonials"
                        *ngIf="testimonials.length > 0">
            <div class="item testimonial-card text-center" *ngFor="let testimonial of testimonials">
              <div class="row justify-content-center">

                <div class="col-md-3">
                  <div class="noUserImage" *ngIf="!testimonial.userInfo.userImg">
                    <i class="nc-icon-mini users_single-01"></i>
                  </div>
                  <div class="userImage">
                    <div class="icon" *ngIf="testimonial.userInfo.userImg">
                      <img [src]="config.serverUrl + testimonial.userInfo.userImg" alt=""/>
                    </div>
                  </div>
                  <h4>{{testimonial.userInfo.userName}}</h4>
                  <p>{{testimonial.userInfo.userCompany}}</p>
                </div>
                <div class="col-md-9">
                  <p class="feedback">
                    <i class="nc-icon-mini text_quote"></i>
                    {{testimonial.mainText}}
                  </p>
                </div>
              </div>
            </div>


          </owl-carousel>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="pb-icon">
            <img src="assets/images/pb_logo.png" alt="">
          </div>
          <p>&copy; Copyright Pitney Bowes 2018, All rights reserved.</p>
        </div>
        <div class="col-md-4">
          <div class="platforms">
            <ul>
              <li><a href=""><img src="assets/images/1-FB.png" alt=""></a></li>
              <li><a href=""><img src="assets/images/2-gplus.png" alt=""></a></li>
              <li><a href=""><img src="assets/images/3-Twitter.png" alt=""></a></li>
              <li><a href=""><img src="assets/images/4-Linkdin.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
