header{
	background-image: url('../../../assets/images/homepage/herobg.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height:500px;
    position:relative;
	.pb-logo{
		width:160px;
		img{
			width:100%
		}
	}
	li.nav-item {
	    position: relative;
	}
	li.nav-item:not(:last-child):after {
	    content: "";
	    position: absolute;
	    background: #fff;
	    right: 0;
	    top: 30%;
	    height: 50%;
	    width: 1px;
	}
	.product-info{
		h1{
	    	margin-top: 100px;
    		color: #fff;
    		font-size: 40px
		}
		p{
			color:#fff;
			font-size:17px;
		}
		a.white-btn {
		    display: inline-block;
		    padding: 10px 30px;
		    background: #fff;
		    border-radius: 20px;
		    color: black;
		    text-decoration: none;
		    margin-top:30px;
		}
	}
	.mobile{
		background-image:url('../../../assets/images/homepage/phonebg_transparent.png');
	    background-repeat: no-repeat;
	 	height: 580px;
    	background-size: contain;
    	background-position: center;
    	position:relative;
    	.innerImage{
	     	width: 243px;
		    position: absolute;
		    top: 80px;
		    left: 70px;
    		img{
    			width:100%;
    		}


    	}
    	
	}
	.btns{
		margin-bottom:20px;
	    font-size: 22px;
		color: #fff;
		span{
			font-size: 27px;
		}
		i{
			cursor:pointer;
		}
	}
	
}

section{
	padding:100px 0;
}
section#products{
	h1,h5{
		text-align:center;
	}
	h5{
    	margin-top: 1rem;
    	color:#9b9b9b;
	}
	.products{
	    margin-top: 30px;
    	margin-bottom: 50px;
		.productBox{
			text-align:center;
			cursor:pointer;
			.icon{
				width:100px;
				margin: 15px auto;
				img{
					width:100%;
				}
			}
			h4{
				color:#717171;
			}
		}
	}
	
}
section#solutions{
	background-image: url('../../../assets/images/homepage/solutionnBg.png');
	text-align:center;
	padding-bottom:0;
    background-attachment: fixed;
	h1,h5{
		color:#fff;
	}
	h5{
	    margin-top: 1rem;
	}
	.solns{
		margin:50px 0;
	}
	.solBox{
		text-align:center;
		.icon{
		    width: 160px;
    		margin: 0 auto;
    		img{
    			width:100%;
    		}
		}
		h4{
			margin: 15px 0;
			color:#fff;
		}
	}
	.footerImage{
		img{
			width:100%;
		}
	}
}
section#upcomingFeatures{
	text-align:center;
	h1{
		color:#3e53a4;
	}
	h5{
    	margin-top: 1rem;
    	color:#9b9b9b;
	}
	.features{
		margin-top:50px;
	}
	.featureBox{
		.icon{
			width: 150px;
    		margin: 0 auto;
    		img{
    			width:100%;
    		}
		}
		h4{
			color:#717171;
		}
	}
}
section#watchVideos{
	background:#009bdf;
	h4{
		margin:0;
		color:#fff;
	}
	a.white-btn {
	    display: inline-block;
    	padding: 10px 50px;
	    background: #fff;
	    border-radius: 20px;
	    text-decoration: none;
	    color: #cf0989;
	    font-size: 16px;
	    font-weight: bold;
	}
}
section#testimonials{
	.carousel-section{
		margin-top:50px;
	}
	
	.testimonial-card{
		.icon{
			width:150px;
			margin: 0 auto;
			img{
				width:100%;
			}
		}
		h4{
			margin-top:15px;

		}
		h5{
			margin-top:30px;
		}
	}
}
footer{
	background:#000;
	.pb-icon{
		width:250px;
		img{
			width:100%;
		}
	}
	p{
		color:#9b9b9b;
		font-size:15px;
	}
	.platforms ul{
		padding: 0;
    	list-style: none;
    	display: flex;
    	float:right;
    	li{
    		margin-left:10px;
    		width:50px;
    		img{
    			width:100%;
    		}
    	}
	}
}