.home{
	overflow-x: hidden;
}
a.return-to-top{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 40px;
    color: #9b9b9b;
    background: transparent;
    border-radius: 100%;
    padding: 5px;
    margin: 0;
    line-height: 1;
    z-index: 9999;
    display: none;
    border: 3px solid;
    transition: 0.5s all;
}
a.return-to-top:hover {
    color: #fff;
    background: #9b9b9b;
    border-color: #9b9b9b;
}
.navbar{
	transition: 1s all;
}
.fixed-navbar{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:9999;
	background:rgba(0,0,0,0.9);
	box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}
.fixed-navbar ~ .container{
	margin-top:61px;
}
header{
	background-image: url('../../../assets/images/homepage/herobg.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height:500px;
    position:relative;
	.pb-logo{
		width:180px;
		img{
			width:100%
		}
	}
	li.nav-item {
	    position: relative;
	}
	li.nav-item:not(:last-child):after {
	    content: "";
	    position: absolute;
	    background: #fff;
	    right: 0;
	    top: 30%;
	    height: 50%;
	    width: 1px;
	}
	.product-info{
		h1{
	    	margin-top: 100px;
    		color: #fff;
    		font-size: 40px
		}
		p{
			color:#fff;
			font-size:17px;
		}
		a.white-btn {
		    display: inline-block;
		    padding: 10px 30px;
		    background: #fff;
		    border-radius: 20px;
		    color: black;
		    text-decoration: none;
		    margin-top:30px;
		}
	}
	.mobile{
		background-image:url('../../../assets/images/homepage/phonebg_transparent.png');
	    background-repeat: no-repeat;
	 	height: 580px;
    	background-size: contain;
    	background-position: center;
    	position:relative;
    	.innerImage{
     	    width: 243px;
    		position: absolute;
    		top: 74px;
    		left: 69px;
    		img{
    			width:100%;
    		}


    	}
    	
	}
	.btns{
		margin-bottom:20px;
	    font-size: 22px;
		color: #fff;
		span{
			font-size: 27px;
		}
		i{
			cursor:pointer;
		}
	}
	
}

section{
	padding:100px 0;
}
section#products{
	h1,p{
		text-align:center;
	}
	p{
    	margin: 2rem;
    	color:#9b9b9b;
    	font-size:15px;
	}
	.products{
	    margin-top: 30px;
    	margin-bottom: 50px;
		.productBox{
			text-align:center;
			cursor:pointer;
			padding-top: 15px;
    		padding-bottom: 15px;
    		transition: 0.5s all;
    		border-radius:4px;
			.icon{
				width:80px;
				margin: 15px auto;
				
				img{
					width:100%;
				}
			}
			
			h4{
				color:#717171;
			}
		}
		.productBox:hover{
			box-shadow: 0 0 20px rgba(0,0,0,0.2);
			transform: translateY(-10px)
		}
		
	}
	
}

.hoverScaleUp:hover{
		cursor:pointer;
		.scaleUpItem{
			transition : 0.1s all;
			transform:scale(1.2);
		}
		
}
.hide-on-init{
	 visibility: hidden;
}

section#solutions{
	background-image: url('../../../assets/images/homepage/solutionnBg.png');
	text-align:center;
	padding-bottom:0;
    background-attachment: fixed;
	h1,p{
		color:#fff;
	}
	p{
	    margin: 2rem;
	    font-size:15px;
	}
	.solns{
		margin:50px 0;
	}
	.solBox{
		text-align:center;
		.icon{
		    width: 100px;
    		margin: 0 auto;
    		img{
    			width:100%;
    		}
		}
		h4{
			margin: 15px 0;
			color:#fff;
		}
	}
	.footerImage{
		img{
			width:100%;
		}
	}
}
section#upcomingFeatures{
	text-align:center;
	h1{
		color:#3e53a4;
	}
	p{
    	margin: 2rem;
    	color:#9b9b9b;
    	font-size:15px;
	}
	.features{
		margin-top:50px;
	}
	.featureBox{
		.icon{
			width: 100px;
    		margin: 0 auto;
    		img{
    			width:100%;
    		}
		}
		h4{
			color:#717171;
		}
	}
}
section#watchVideos{
	background:#009bdf;
	padding: 50px 0;
	h4{
		margin:0;
		color:#fff;
	}
	a.white-btn {
	    display: inline-block;
    	padding: 10px 50px;
	    background: #fff;
	    border-radius: 20px;
	    text-decoration: none;
	    color: #cf0989;
	    font-size: 16px;
	    font-weight: bold;
	}
}
section#testimonials{
	.carousel-section{
		margin-top:50px;
	}
	
	.testimonial-card{
		.icon{
			width:150px;
			margin: 0 auto;
			img{
				width:100%;
			}
		}
		h4{
			margin-top:15px;

		}
		p.feedback{
		    font-size: 16px;
    		text-align: left;
    		margin-top: 30px;
    		i{
				position: absolute;
			    left: -7px;
			    top: 25px;
    		}
		}
		.noUserImage{
		    width: 130px;
		    background: #e1e1e1;
		    margin: 0 auto;
		    height: 130px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    padding: 5px;
		    border-radius: 100%;
		    i{
	    	    font-size: 80px;
		    }
		}
	}
}
footer{
	background:#000;
	.pb-icon{
		width: 140px;
    	margin-top: 50px;
    	margin-bottom: 10px;
		img{
			width:100%;
		}
	}
	p{
		color:#9b9b9b;
		font-size:14px;
	}
	.platforms ul{
		padding: 0;
    	list-style: none;
    	display: flex;
    	float:right;
    	li{
    		margin-left:15px;
    		width:40px;
    		img{
    			width:100%;
    		}
    	}
	}
}