<div class="landing">

  <div class="video-container">
    <video autoplay loop>
      <source src="assets/videos/background_people.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

		<div class="content-container">
			<div class="content-box">
				<div class="header-section">
					<div class="pblogo">
						<img src="assets/images/pb_logo.png" alt="">
					</div>
				</div>
				<div class="footer-section">
					<h1>Virtual Client Experience Center</h1>
					<div class="clock text-center">
						<span>{{currentTime | date: 'HH : mm : ss'}}</span>
					</div>
					<a href="" routerLink="home" class="float-md-right blue-btn">
						<i class="nc-icon-mini arrows-1_triangle-right-17"></i>
						Enter
					</a>
				</div>
			</div>
		</div>
</div>
