<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="" routerLink="groups" routerLinkActive="active">Product Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="categories" routerLinkActive="active">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="portfolios" routerLinkActive="active">Portfolios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="" routerLinkActive="active" routerLink="testimonials">Testimonials</a>
      </li>
    </ul>
  </div>
</nav>
<section>
  <router-outlet></router-outlet>
</section>
