<div class="container">
  <div class="row">
    <div class="col-md-8 align-self-center">
      <div *ngIf="addGroupState">
        <h1 class="mainHeading">Add New Group</h1>
        <form (ngSubmit)="onCreate()" #f="ngForm">
          <div class="form-group">
            <label>Group Name</label>
            <input type="text" class="form-control" ngModel name="group_name" required
                   #groupName="ngModel">
            <div class="help-text" *ngIf="!groupName.valid && f.submitted">Please Enter Valid Group Name</div>
          </div>
          <div class="form-group">
            <label>Short Description</label>
            <input type="text" class="form-control" ngModel name="shortDesc" required
                   #shortDesc="ngModel">
            <div class="help-text" *ngIf="!shortDesc.valid  && f.submitted">Please Enter Valid short Description!</div>
          </div>
          <div class="form-group">
            <label>Heading</label>
            <input type="text" class="form-control" ngModel name="heading" required
                   #heading="ngModel">
            <div class="help-text" *ngIf="!heading.valid  && f.submitted">Please Enter Valid heading!</div>
          </div>
          <div class="form-group">
            <label>Group Description</label>
            <input type="text" class="form-control" ngModel name="desc" required
                   #groupDesc="ngModel">
            <div class="help-text" *ngIf="!groupDesc.valid  && f.submitted">Please Enter Valid Group Description!</div>
          </div>
          <div class="form-group">
            <label>Group Icon Image</label>
            <dropzone [style.display]="!image ? 'block' : 'none'" [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                      (error)="onImageUploadError($event)" (removedFile)="onRemoved($event)"
                      (success)="onImageUploadSuccess($event)" id="featureImage" name="featureImage"></dropzone>
            <div class="help-text" *ngIf="!image && f.submitted">Please Upload Image!</div>

            <div class="imgPreview" *ngIf="image" style="height: 80px;margin-top: 20px;">
              <img [src]="this.config.serverUrl + image"  />
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                 (click)="onRemoved()">
              </i>
            </div>
          </div>
          <div class="form-group">
            <label>Alternative Image</label>
            <dropzone [style.display]="!alternativeImage ? 'block' : 'none'" [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                      (error)="onAlterImageUploadError($event)"
                      (success)="onAlterImageUploadSuccess($event)"></dropzone>
            <div class="help-text" *ngIf="!alternativeImage && f.submitted">Please Upload Alternative Image!</div>
            <div class="imgPreview" *ngIf="alternativeImage" style="height: 80px;margin-top: 20px;">
              <img [src]="this.config.serverUrl + alternativeImage"  />
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                 (click)="onAlternativeImageRemoved()">
              </i>
            </div>
          </div>
          <div class="form-group">
            <label>Group Cover Image</label>
            <dropzone [style.display]="!coverImage ? 'block' : 'none'" [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                      (error)="onCoverImageUploadError($event)" (success)="onCoverImageUploadSuccess($event)"
                      id="featureImage"
                      name="featureImage"></dropzone>
            <div class="help-text" *ngIf="!coverImage && f.submitted">Please Upload Cover Image!</div>
            <div class="imgPreview" *ngIf="coverImage" style="margin-top: 20px;">
                <img [src]="config.serverUrl + coverImage"/>
                <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                   (click)="onCoverImageRemoved()">
                </i>
              </div>
          </div>
          <div class="form-group" style="margin-top: 50px;">
            <button class="btn btn-primary" type="submit">Add New Group
            </button>
          </div>
        </form>
      </div>

      <div *ngIf="editGroupState" class="editGroup">
        <h1 class="mainHeading">Edit Group</h1>
        <form (ngSubmit)="onUpdate()" #f="ngForm">
          <div class="form-group">
            <label>Group Name</label>
            <input type="text" class="form-control" [(ngModel)]="groupToEdit.group_name" name="groupToEdit.group_name"
                   required #groupEditName="ngModel">
            <div class="help-text" *ngIf="!groupEditName.valid && f.submitted">Please Enter Valid Group Name!</div>
          </div>
          <div class="form-group">
            <label>Short Description</label>
            <input type="text" class="form-control" [(ngModel)]="groupToEdit.shortDesc" name="shortDesc"
                   required
                   #editShortDesc="ngModel">
            <div class="help-text" *ngIf="!editShortDesc.valid  && f.submitted">Please Enter Valid short Description!
            </div>
          </div>
          <div class="form-group">
            <label>Heading</label>
            <input type="text" class="form-control" [(ngModel)]="groupToEdit.heading" name="heading"
                   required
                   #editHeading="ngModel">
            <div class="help-text" *ngIf="!editHeading.valid  && f.submitted">Please Enter Valid heading!</div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" [(ngModel)]="groupToEdit.desc" name="groupToEdit.desc" required
                   #groupEditDesc="ngModel">
            <div class="help-text" *ngIf="!groupEditDesc.valid && f.submitted">Please Enter Valid Group Description!
            </div>
          </div>
          <div class="form-group">
            <label>Group Icon Image</label>
            <dropzone *ngIf="!image" [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                      (error)="onImageUploadError($event)" (success)="onImageUploadSuccess($event)" id="featureImage"
                      name="featureImage"></dropzone>
            <div class="help-text" *ngIf="!image && f.submitted">Please Upload Image!</div>

            <div class="imgPreview" *ngIf="image" style="height: 80px;margin-top: 20px;">
                <img [src]="this.config.serverUrl + image"  />
                <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                   (click)="onRemoved()">
                </i>
              </div>
          </div>
          <div class="form-group">
            <label>Alternative Image</label>
            <dropzone *ngIf="!alternativeImage" [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                      (error)="onAlterImageUploadError($event)" (success)="onAlterImageUploadSuccess($event)"
                      id="featureImage"
                      name="featureImage"></dropzone>
            <div class="help-text" *ngIf="!alternativeImage && f.submitted">Please Upload Alternative Image!</div>

            <div class="imgPreview" style="height: 80px;margin-top: 20px;background: silver" *ngIf="alternativeImage">
                <img [src]="this.config.serverUrl + alternativeImage"  />
                <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                   (click)="onAlternativeImageRemoved()">
                </i>
              </div>
          </div>
          <div class="form-group">
            <label>Group Cover Image</label>
            <dropzone *ngIf="!coverImage" [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                      (error)="onCoverImageUploadError($event)" (success)="onCoverImageUploadSuccess($event)"
                      id="featureImage"
                      name="featureImage"></dropzone>
            <div class="help-text" *ngIf="!coverImage && f.submitted">Please Upload Cover Image!</div>

            <div *ngIf="coverImage" class="imgPreview" style="margin-top: 20px;">
                <img [src]="this.config.serverUrl + coverImage"/>
                <i class="delIcon nc-icon-mini ui-1_circle-remove lg"
                   (click)="onCoverImageRemoved()">
                </i>
              </div>
          </div>
          <div class="form-group" style="margin-top: 50px;">
            <button class="btn btn-primary" type="submit">Update Group
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
