<div class="container">
  <h1 class="mainHeading">Categories</h1>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary float-right" type="submit" (click)="createCat()">Add New Category</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-table">
        <table class="table table-open">
          <thead>
          <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Category Icon</th>
            <th>Date added</th>
            <th>Added by</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let category of categories;let i = index">
            <td>{{i+1}}</td>
            <td>{{category.category_name}}</td>
            <td><img [src]="this.config.serverUrl+category.img"
                     style="width: 25%; height: 25%;"></td>
            <td>{{category.created_at | date}}</td>
            <td>Admin</td>
            <td>
              <button class="btn btn-sm btn-primary" (click)="editCat(category)">Edit</button>
              <button class="btn btn-sm btn-primary" (click)="deleteCat(category)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


