
.card.card-table{
    margin-top: 20px;
}

h1.mainHeading{
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin: 50px 0;
}
.catIcon{
	width:50px;
	img{
		width:100%;
	}
}

.paginationDiv {
  text-align: right;
  margin-top: 15px;
  font-weight: bold;
}
