.profile{
header{
	background:#000;
    min-height:500px;
    position:relative;
    padding-bottom:150px;
    z-index:0;
	.pb-logo{
		width:180px;
		img{
			width:100%
		}
	}
	.videoWrapper {
		position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 0px;
	    height: 0;
	    margin-top: 50px;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		outline: none;
    	border: 1px solid rgba(256,256,256,0.2);
	}
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding: 5px 15px;
	    background: #fff;
	    margin-left: 10px;
	    color: #2e2e2e;
	    border-radius: 15px;
	    width: 90px;
	    text-align: center;
	}
}

section#profileInfo{
	
	.profile-title{
		background: #cf0989;
    	text-align: center;
    	padding: 20px 10px;
    	padding-bottom: 40px;
    	margin: 0 100px;
    	margin-top: -72px;
    	*{
    		color: #fff;
    	}
    	p{
    		font-size:17px;
    	}
	}
	.profileDesc {
	    padding: 100px;
	    text-align: center;
	    color: #0072b8;
	    font-size: 18px;
	}
}
.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon{
	    width: 80px;
	    padding: 10px;
	    background: #e1e1e1;
	    border-radius: 100%;
	    border: 10px solid #fff;
	    height: 80px;
	    margin-top: -40px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    img{
	    	width:100%;
	    }
    }
}
section#videos{
	background:#e1e1e1;
	padding-bottom:200px;
	h1{
		margin-top:50px;
	}
	.videos-container{
		margin-top:100px;
		.videoBox{
			cursor:pointer;
			width:100%;
			position:relative;
			margin-bottom:40px;
			img{
				width:100%;
			}
			.video-overlay{
				position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    display: flex;
			    justify-content: center;
			    align-items: center;
		        color: rgba(0,0,0,0.3);
			    .icon{
		    	    padding: 26px;
    				font-size: 40px;
				    border: 3px solid;
				    border-radius: 100%;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				}
			}
		}
		.videoBox:hover{
			.video-overlay{
				background:rgba(0,0,0,0.3);
				color:#e1e1e1;
				transition:0.4s all;
			}
		}
		.well-hover:hover{
	    	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
	    }
	}
}
.well-hover{
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    
}
.well-hover:hover{
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        -webkit-transform: translateY(-5px);
    	transform: translateY(-5px);
}
section#liveDemos{
	background:#fff;
	padding-bottom:100px;
	h1{
		margin-top:50px;
	}
	.demos-container{
		margin-top:100px;
		.demo-card{
			padding:15px;
			height:350px;
			margin-bottom:30px;
			cursor:pointer;
			.icon{
				width:80px;
				margin:10px auto;
				img{
					width:100%;
				}
			}
			h2{
				text-align:center;
				color:#3e53a4;
				margin-top: 40px;
    			margin-bottom: 15px;
			}
			p{
				text-align:center;
			    font-size: 16px;
			}
		}
	}
}
section#caseStudies{
	background:#F7F7F7;
	padding-bottom:200px;
	h1{
		margin-top:50px;
	}
	.cs-container{
		margin-top:100px;
		.csBox{
			padding: 5px 20px;
    		border: 1px solid #0072b8;
		    border-radius: 30px;
		    margin: 0 10px;
		    margin-bottom:30px;
		    a{
	    	    display: flex;
    			align-items: center;
    			text-decoration:none;
			    color: #0072b8;
    			font-size: 15px;

    			.icon{
				    width: 40px;
				    img{
				    	width:100%;
				    }
    			}
    			label{
				    margin: 0;
    				margin-left: 10px;

    			}
		    }
		}
	}
}
section#articles{
	background:#5D5C5C;
	padding-bottom:200px;
	h1{
		margin-top:50px;
		color:#fff;
	}
	.articles{
		margin-top:100px;
		.articleBox{
			margin-bottom:30px;
			.icon{
				img{
					width:100%;
				}
			}
			.article-body{
				padding: 30px 20px;
    			color: #fff;
			    border: 1px solid #4e4e4e;
			    border-top: 0;
			    h3{
			    	color:#fff;
			    }
			    p{
		    	    font-size: 15px;
    				margin-top: 20px;
    				color:#c0c0c0;
			    }
			}
		}
	}
	
	.circle-icon {
    	.icon{
    		border-color:#F7F7F7;
    	}
    }
}
footer{
	background:#000;
	.pb-icon{
		width: 140px;
    	margin-top: 50px;
    	margin-bottom: 10px;
		img{
			width:100%;
		}
	}
	p{
		color:#9b9b9b;
		font-size:14px;
	}
	.platforms ul{
		padding: 0;
    	list-style: none;
    	display: flex;
    	float:right;
    	li{
    		margin-left:15px;
    		width:40px;
    		img{
    			width:100%;
    		}
    	}
	}
}

}


.modal-fullscreen{
	display:flex !important;
	justify-content:center;
	align-items:center;
	.modal-dialog{
		max-width: 100%;
	    background: transparent;
	    width:100%;

	    .modal-content{
	    	background: transparent;
	    	border: 0;
	    	padding: 0;
	    	.container{
	    		position: relative;
	    		padding:0;
	    		.close{
    			    position: absolute;
				    right: -25px;
				    top: -25px;
				    color: #fff;
				    opacity: 1;
				    font-size: 25px;
				    cursor:pointer;
	    		}
	    		.videoWrapper {
					position: relative;
				    padding-bottom: 56.25%;
				    padding-top: 0px;
				    height: 0;
				 }
				.videoWrapper iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					outline: none;
			    	border: 1px solid rgba(256,256,256,0.2);
				}
	    	}
	    }
	}
}
.modal-backdrop.show{
    background: rgba(0,0,0,0.9) !important;
    opacity: 1 !important;
}
div.ytp-gradient-bottom
  {
    opacity: 0 !important;
  }

div.ytp-gradient-top
  {
      opacity: 0 !important;
  }