<div class="profile">
	<header>
		<nav class="navbar navbar-expand-lg">
	      <div class="container">
	        <a class="navbar-brand" href="#">
	          <div class="pb-logo">
	            <img src="assets/images/pb_logo.png" alt="">
	          </div>
	        </a>
	      </div>
	    </nav>
	    <div class="container">
	    	<div class="videoWrapper">
	    		<!-- <iframe 
	    						src="https://www.youtube.com/embed/BDhvHrqrdww?autoplay=1">
	    						</iframe> -->
	    	</div>
	    	
	    </div>
	</header>
	<section id="profileInfo">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="profile-title">
						<h1>Location Intelligence APIs</h1>
						<p>Transform location and business data into powerful insight</p>
					</div>
					<div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
</div>