<!--
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>List of product groups
        <button class="btn btn-primary" (click)="addGroupState=true;editGroupState=false;resetForm()">Add New Group</button>
      </h3>
      <div class="list-group" *ngFor="let group of groups">
        <div class="card" style="width: 20rem;text-align: center">
          <div style="position: absolute;right: 0;top: 5px;">
            <button class="btn btn-sm btn-primary" (click)="editGroup(group)">Edit</button>
            <button class="btn btn-sm btn-primary" (click)="deleteGroup(group)">Delete</button>
          </div>
          <img class="card-img-top" [src]="this.config.serverUrl+group.img" alt="Card image cap"
               style="width: 25%; height: 25%;margin: auto">
          <div class="card-body">
            <p class="card-text">{{group.group_name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="editGroupState" class="editGroup">
        <h3>Edit Group:</h3>
        <form (ngSubmit)="onUpdate()" #f="ngForm">
          <div class="form-group">
            <label>Group Name</label>
            <input type="text" class="form-control" [(ngModel)]="groupToEdit.group_name" name="groupToEdit.group_name"
                   required
                   #groupEditName="ngModel">
            <div class="help-text" *ngIf="!groupEditName.valid">Please Enter Valid Group Name!</div>
          </div>
          <div class="form-group">
            <label>Group Image</label>
            <dropzone [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                      (error)="onImageUploadError($event)" (success)="onImageUploadSuccess($event)" id="featureImage"
                      name="featureImage"></dropzone>
            <div class="help-text" *ngIf="!image">Please Upload Image!</div>
            <div style="position: relative;border: 1px solid black;" *ngIf="image">
              <img [src]="this.config.serverUrl + image" width="50%" height="50%"/>
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg" style="position: absolute;top:0;right:0"
                 (click)="onRemoved()">
              </i>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid || !image">Update Group</button>
          </div>
        </form>
      </div>
      <div *ngIf="addGroupState">
        <form (ngSubmit)="onCreate()" #f="ngForm">
          <div class="form-group">
            <label>Group Name</label>
            <input type="text" class="form-control" ngModel name="group_name" required
                   #groupName="ngModel">
            <div class="help-text" *ngIf="!groupName.valid">Please Enter Valid Group Name!</div>
          </div>
          <div class="form-group">
            <label>Group Image</label>
            <dropzone [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"
                      (error)="onImageUploadError($event)" (removedFile)="onRemoved($event)"
                      (success)="onImageUploadSuccess($event)" id="featureImage" name="featureImage"></dropzone>
            <div class="help-text" *ngIf="!image">Please Upload Image!</div>
            <div style="position: relative;border: 1px solid black;" *ngIf="image">
              <img [src]="this.config.serverUrl + image" width="50%" height="50%"/>
              <i class="delIcon nc-icon-mini ui-1_circle-remove lg" style="position: absolute;top:0;right:0"
                 (click)="onRemoved()">
              </i>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid || !image">Add New Group</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
-->
<div class="container">
  <h1 class="mainHeading">Product Groups</h1>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary float-right" type="submit">Add New Group</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="card card-table">

        <table class="table table-open">
          <thead>
          <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Product Icon</th>
            <th>Sort Order</th>
            <th>Date added</th>
            <th>Added by</th>
            <th></th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let group of groups">
            <td>1</td>
            <td>{{group.group_name}}</td>
            <td><img [src]="this.config.serverUrl+group.img"
                     style="width: 25%; height: 25%;"></td>
            <td>1</td>
            <td>21/12/2017</td>
            <td>Admin</td>
            <td>
              <button class="btn btn-sm btn-primary" (click)="editGroup(group)">Edit</button>
              <button class="btn btn-sm btn-primary" (click)="deleteGroup(group)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

