/* You can add global styles to this file, and also import other style files */

@font-face{
 font-family:'digital-clock-font';
 src: url(assets/fonts/oswald/Oswald-Regular.ttf);
}

body::-webkit-scrollbar {
    width: 0.8em;
}
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


@import 
  '~bootstrap/scss/functions',
  '../node_modules/pb-design-system/sass/variables',
  '../node_modules/pb-design-system/sass/mixins'